body {
  background: $color-main-bg;
}

header {
  background: transparent;
}

h1 {
  color: $color-main-fg;
  font-family: $font-family;
  font-size: $heading-size-smaller;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@include media(normal) {

  header {
    text-align: right;
  }

  h1 {
    font-size: $heading-size;
    line-height: $heading-line-height;
  }

}

@include media(short) {

  header {
    text-align: right;
  }

  h1 {
    font-size: $heading-size;
    line-height: $heading-line-height;
  }

}

.main-content {
  background: $color-main-fg;
}

.links {
  li {
    background: rgba($color-main-bg, .2);

    a {
      color: lighten($color-main-bg, 10%);
      text-decoration: none;

      span {
        font-family: $font-family;
        font-size: $link-size-smaller;
      }
    }

  }
}