body {
  background: $color-main-bg;
}

header {
  background: transparent;
  box-sizing: border-box;
  padding-right: 120px;
  text-align: right;
}

h1 {
  color: $color-main-fg;
  font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial, sans-serif;
  font-size: 160px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  background: $color-main-fg;
}