body {
  background: $color-main-bg;
}

header {
  background: transparent;
  text-align: right;
}

h1 {
  color: $color-main-fg;
  font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial, sans-serif;
  font-size: $heading-size;
  font-weight: bold;
  line-height: $heading-line-height;
  margin: 0;
  padding: 0;
}

.main-content {
  background: $color-main-fg;
}