$padding-size: 120px;
$link-size: 120px;

$height: $link-size + ($padding-size * 2);

header {
  padding: 3%;
}

@include media(smaller) {
  .main-content {
    min-height: 120px;
    padding: 5% 5px;
  }
}

@include media(normal) {

  .vertical-wrapper {
    margin-top: -(($height + $heading-line-height) / 2);
    position: relative;
    top: 50%;
  }

  .main-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: $height;
    padding: $padding-size;
  }

  header {
    padding: 0 $padding-size 0 0;
    position: relative;
  }

}

@include media(short) {

  header {
    padding: 20px $padding-size 0 0;
    position: relative;
  }

  .main-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: $height;
    padding: $padding-size;
  }

}

@include media(smaller) {
  .links {
    li {
      @include clearfix;

      border-radius: 60px 0 0 60px / 60px 0 0 60px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 120px;
      margin: 0 0 20px 0;
      padding: 20px;
      width: 100%;

      a {
        display: block;
        height: 100%;
        width: 100%;

        img {
          float: left;
        }

        span {
          display: block;
          float: left;
          line-height: 80px;
          margin: 0 0 0 20px;
        }
      }

    }
  }
}

@include media(normal) {

  .links {
    @include clearfix;

    li {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 60px;
      height: 120px;
      float: left;
      padding: 20px;
      width: 120px;

      a {
        display: block;
        width: 100%;
        height: 100%;

        span {
          display: none;
        }
      }
    }

    li + li {
      margin: 0 0 0 120px;
    }
  }

}