html,
body,
h1,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

header,
section,
article {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
}