@mixin font-face($font-name, $file, $eot: false, $style: normal, $weight: normal) {
    @font-face {
        font-family: '#{$font-name}';
        font-style: $style;
        font-weight: $weight;
        @if $eot {
          src: local(#{$font-name}),
               url(#{$file}.eot) format('eot'),
               url(#{$file}.ttf) format('ttf');
        }
        @else {
          src: local(#{$font-name}),
               url(#{$file}.ttf) format('ttf');
        }
    }
}

@include font-face('Yanone Kaffeesatz', '../fonts/YanoneKaffeesatz-Bold', true, normal, bold);