html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: #b0cf42;
	font-family: "Micro 5", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.root {
	max-width: 500px;
	margin: 0 auto;
	margin-top: min(calc((100vh - 500px) / 2), 150px);
}

.status {
	margin: 0 25px;
	text-align: right;
	font-size: 48px;
}

.screen {
	margin: 0 25px;
	position: relative;
	display: block;
	background: #b0cf42;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.canvas {
	width: 100%;
	height: 100%;
}

.end {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(176, 207, 66, 0.5);

	&.hidden {
		visibility: hidden;
	}
}

.card {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 32px;
	transform: translateY(0);
	transition: transform 0.1s cubic-bezier(1, 2.49, 0.8, 1);

	.hidden & {
		transform: translateY(15px);
	}
}

.title {
	font-size: 48px;
}

.final-score {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 32px;
}

.score {
	font-size: 120px;
	line-height: 0.8;
}

.instruction {
	font-size: 24px;
}
