$spacing-vertical: 5px;

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  @include breakpoint(phone) {
    flex-direction: column;
  }
}

.profile__person {
  color: $foreground-color;
  font-size: 1.3rem;
  margin: 0 $spacing-vertical;

  @include breakpoint(phone) {
    font-size: 2rem;
  }
}

.yours-truly {
  @extend .profile__person;
}
