$profile-link-icon-size: 24px;
$profile-link-icon-size-phone: 30px;

$profile-link-round-icon-size: 22px;
$profile-link-round-icon-size-phone: 28px;

.profile-links__item {
  float: left;
  margin: 0 $spacing-vertical;
  font-size: 0;
}

.profile-links__link {
  display: inline-block;
  width: $profile-link-icon-size;
  height: $profile-link-icon-size;

  @include breakpoint(phone) {
    width: $profile-link-icon-size-phone;
    height: $profile-link-icon-size-phone;
  }

  &--round {
    width: $profile-link-round-icon-size;
    height: $profile-link-round-icon-size;

    @include breakpoint(phone) {
      width: $profile-link-round-icon-size-phone;
      height: $profile-link-round-icon-size-phone;
    }
  }

  & img {
    width: 100%;
    height: 100%;
  }
}
